* {
  padding: 0;
  margin: 0;
}

.topBar {
  height: 48px;
  padding: 12px;
  background-color: #f5f8ff;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.topBar .topBar-left {
  float: left;
}
.topBar .topBar-right {
  float: right;
}
.topBar a {
  text-decoration: none;
  padding: 0 15px;
  color: #ff6d19;
}
.topBar a:hover {
  color: #223370;
}

.navbar {
  background-color: #223370;
}
.navbar .navbar-brand img {
  height: 60px;
}

.collapse {
  justify-content: center;
}
.searchBar {
  width: 90%;
}
.collapse input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0;
}
.collapse input::placeholder {
  color: #9e9e9e;
}
.collapse .searchBar button {
  background-color: transparent;
  border: 0;
}
.collapse .searchBar button i {
  color: #d9d9d9;
  font-size: 20px;
}
.social-outside .social-inside {
  display: flex;
  font-size: 30px;
}
.social-outside .social-inside .icon {
  padding: 0 8px;
  color: #d9d9d9;
}

.scrolling-effect {
  background-color: #ff6d19;
  overflow: hidden;
}
.scrolling-effect .scrolling-text {
  color: #f5f8ff;
  font-weight: bold;
  position: relative;
  animation: animation 20s linear infinite;
}

@keyframes animation {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

/* shopify-section-template1 */

.banner-menu-title {
  background-color: #ff6d19;
  padding: 15px 30px;
  color: #fff;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
}
.banner-menu-categories .menu-categories {
  background-color: #f5f8ff;
  padding: 40px 0;
  border-radius: 16px;
}
.banner-menu-categories .submenu-list {
  list-style-type: none;
  padding: 0;
}
.banner-menu-categories .submenu-list li:hover {
  background-color: #ff6d19;
}
.banner-menu-categories .submenu-list a {
  display: block;
  position: relative;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #22292f;
}

.carousel {
  height: 500px;
  overflow: hidden;
  background-color: #000;
  border-radius: 15px;
}

.carousel-inner > .carousel-item > img {
  height: 500px;
}

/* .shopify-section-template2 css */
.shopify-section-template2 {
  padding: 50px 0;
}
.image-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.shopify-section-template2 .temp2-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 1s;
}
.shopify-section-template2 .temp2-banner img:hover {
  transform: scale(1.1);
}

.shopify-section-template2 .temp2-banner .full-height {
  height: 100%;
}
.shopify-section-template2 .temp2-banner .half-height {
  height: 50%;
}
.image-container .overlay-text {
  position: absolute;
  text-decoration: none;
  padding: 10px 40px;
  background-color: #22292f;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  transition: 0.5s;
}
.image-container .overlay-text:hover {
  background-color: #d9d9d9;
  color: #000;
}
.image-container .overlay-text1 {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container .overlay-text2 {
  top: 40%;
  left: 54%;
  transform: translate(0%, -50%);
}
.image-container .overlay-text3 {
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container .overlay-text4 {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Swiper Slider CSS */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px solid #d9d9d9;
  border-radius: 50%;
}

/* Shopify-Cricket-Section CSS */
.shopify-cricket-section {
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.shopify-cricket-section .title-wrap {
  display: flex;
  margin-bottom: 2rem;
}
.shopify-cricket-section .view-all-link {
  margin: 0 0 0 auto;
}

#myCarousel {
  margin-top: 50px;
  background-color: #fff;
}
#myCarousel .card {
  border: 1px solid #9e9e9e;
  border-radius: 20px;
  margin: 5px;
}
.card-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.card-text {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.card-text-price {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }

  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next,
  .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(25%) !important;
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }

  .carousel-item-next.carousel-item-start,
  .active.carousel-item-end {
    transform: translateX(0) !important;
  }

  .carousel-inner .carousel-item-prev,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }
}
/* end */

/* shopify-circle-section */
.circle-outside {
  text-align: center;
}

.circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 20px auto; /* Adjust margin as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.circle span {
  font-weight: bold;
  text-transform: capitalize;
  color: #000;
}
.circle h4 {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}
.circle1 {
  border: 60px solid #fdd238;
}
.circle2 {
  border: 60px solid #007aff;
}
.circle3 {
  border: 60px solid #e344ae;
}
.card-category-circle {
  color: #3498db; /* Text color */
  font-size: 16px; /* Adjust font size as needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Shopify carousel2 for text and image CSS */
.shopify-carousel-textImage {
  padding: 50px 0;
}
.headline {
  display: flex;
}
.headline h4 {
  text-transform: capitalize;
  font-weight: bold;
}
.headline a {
  margin: 0 0 0 auto;
  text-decoration: none;
  font-weight: bold;
  color: #223370;
  text-transform: capitalize;
}
#myCarousel2 {
  margin-top: 50px;
  background-color: #fff;
}
#myCarousel2 .card2 {
  border-radius: 20px;
  margin: 5px 20px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.card-body2 {
  margin-left: 15px;
}
.card-body2 button {
  border: none;
  background-color: #223370;
  padding: 10px 25px;
  border-radius: 25px;
}
.card-body2 button a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.card-title2 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.card-text2 {
  text-align: left;
  font-size: 12px;
  text-transform: capitalize;
}
.card-text-price2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
}

/*  shopify-gear-section css*/
.shopify-gear-section {
  padding: 50px 0;
}
.gear-image {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.gear-image img {
  width: 100%;
  transition: 0.5s;
}
.gear-image img:hover {
  transform: scale(1.1);
}
.gear-kit {
  margin-top: 2em;
  grid-gap: 10px;
}
.gear-kit a,
h6 {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.gear-kitImg {
  float: left;
  width: 24%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .gear-kitImg {
    margin-right: 45px;
  }
}
@media only screen and (min-width: 992px) {
  .gear-kitImg {
    margin-right: 30px;
  }
}

.gear-kitImg img {
  height: 80px;
  width: 80px;
  vertical-align: middle;
}

/* Shopify Cutomeer  CSS*/
.shopify-customer-section {
  padding: 50px 0 0 0;
}
.bgCustom {
  background-color: #f5f8ff;
  padding: 20px 0;
}
.bgCustom .bgCustom-icon {
  font-size: 40px;
}
.bgCustom .span1 {
  text-transform: uppercase;
}
.bgCustom .span2 {
  font-weight: bold;
  font-size: 14px;
}

/* shopify-footer-aboutUs-section CSS */
.aboutUs-bg {
  background-color: #223370;
  padding: 80px;
  color: #fff;
}
.aboutUs-bg h5 {
  margin: 0 0 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.aboutUs-bg p {
  font-weight: bold;
}
.aboutUs-bg .aboutUs-link a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  padding: 5px 0;
  transition: 0.2s;
}
.aboutUs-bg .aboutUs-link a:hover {
  color: #ff6d19;
}

/* footer copyright section css */
.copyright-bg {
  background-color: #f5f8ff;
}

/* Copyright section css  */
.copyright-bg {
  padding: 10px 0;
  text-align: center;
}
.copyright-bg p {
  font-size: 12px;
  font-weight: bold;
  margin: 15px 0 0;
}
.copyright-bg a {
  font-size: 35px;
  margin: 10px;
  color: #000;
  transition: 0.2s;
}
.copyright-bg a:hover {
  color: #007aff;
}
