* {
  padding: 0;
  margin: 0;
}

.topBar {
  height: 48px;
  padding: 12px;
  background-color: #f5f8ff;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.topBar .topBar-left {
  float: left;
}
.topBar .topBar-right {
  float: right;
}
.topBar a {
  text-decoration: none;
  padding: 0 15px;
  color: #ff6d19;
}
.topBar a:hover {
  color: #223370;
}

.navbar {
  background-color: #223370;
}
.navbar .navbar-brand img {
  height: 60px;
}

.collapse {
  justify-content: center;
}
.searchBar {
  width: 90%;
}
.collapse input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0;
}
.collapse input::placeholder {
  color: #9e9e9e;
}
.collapse .searchBar button {
  background-color: transparent;
  border: 0;
}
.collapse .searchBar button i {
  color: #d9d9d9;
  font-size: 20px;
}
.social-outside .social-inside {
  display: flex;
  font-size: 30px;
}
.social-outside .social-inside .icon {
  padding: 0 8px;
  color: #d9d9d9;
}

.scrolling-effect {
  background-color: #ff6d19;
  overflow: hidden;
}
.scrolling-effect .scrolling-text {
  color: #f5f8ff;
  font-weight: bold;
  position: relative;
  animation: animation 20s linear infinite;
}

@keyframes animation {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

/* shopify-section-template */

.banner-menu-title {
  background-color: #ff6d19;
  padding: 15px 30px;
  color: #fff;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
}
.banner-menu-categories .menu-categories {
  background-color: #f5f8ff;
  padding: 40px 0;
  border-radius: 16px;
}
.banner-menu-categories .submenu-list {
  list-style-type: none;
  padding: 0;
}
.banner-menu-categories .submenu-list a {
  display: block;
  position: relative;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #22292f;
}

.carousel {
  height: 500px;
  overflow: hidden;
  background-color: #000;
  border-radius: 15px;
}

.carousel-inner > .carousel-item > img {
  height: 500px;
}
